{% extends 'base.html' %}
{% load static %}

{% block title %}Reportes{% endblock %}

{% block header %}
<!-- Aquí puedes agregar contenido específico para el header si lo necesitas -->
{% endblock %}

{% block content %}
<div class="max-w-full sm:max-w-3xl mx-auto mt-20 bg-white shadow-lg rounded-lg p-4 sm:p-10 backdrop-blur">
    <h2 class="text-xl sm:text-2xl font-bold mb-4 sm:mb-6 text-left">Generar reporte</h2>

    <div id="date-range-picker" date-rangepicker class="flex flex-wrap items-center justify-center gap-2">
        <div class="relative w-[45%]">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input id="datepicker-range-start" name="start" type="text" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 py-1.5" placeholder="Fecha de inicio">
        </div>
        <span class="text-gray-700 text-sm">a</span>
        <div class="relative w-[45%]">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input id="datepicker-range-end" name="end" type="text" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 py-1.5" placeholder="Fecha de fin">
        </div>
        <div class="relative" style="top: 10px;">
            <button class="bg-red-300 hover:bg-red-300 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
                <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
                Descargar
            </button>
    
        </div>
    </div>
    
    

    <!-- Botones de opciones -->
    <div class="grid grid-cols-2 gap-6 mt-8 md:grid-cols-3">
        <button class="bg-pink-200 hover:bg-pink-300 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Semanal
        </button>
        <button class="bg-pink-300 hover:bg-pink-400 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Semana anterior
        </button>
        <button class="bg-pink-200 hover:bg-pink-300 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Mensual
        </button>
        <button class="bg-pink-300 hover:bg-pink-400 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Mes anterior
        </button>
        <button class="bg-pink-200 hover:bg-pink-300 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Anual
        </button>
        <button class="bg-pink-300 hover:bg-pink-400 text-white text-lg font-bold py-3 px-6 rounded-lg shadow-md hover:shadow-lg flex items-center justify-center gap-2">
            <img src={% static 'images/download.png' %} alt="icono" class="h-5 w-5" />
            Año anterior
        </button>
    </div>
</div>

{% endblock %}